.child,
button {
  position: relative;
}
.child::after,
button::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}
.image {
  width: 25%;
  float: left;
  margin-right: 10px;
  border-radius: 5%;
}
.container {
  display: flex;
  padding: 5px;
  gap: 10px;
}
.child {
  width: 25%;
  height: 40%;
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  padding: 15px;
  border: 0;
  background: #0e0e0e;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
  border-radius: 15px;
}
.child::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  top: 0;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
    #488cfb,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation-play-state: paused;
}
.child:hover::after {
  animation-play-state: running;
}
@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}
.child,
.child::after {
  box-sizing: border-box;
}
.child:active {
  --border-width: 5px;
}
button {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: 700;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: 0;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  transition: 0.3s;
  z-index: 100;
}
button::after {
  pointer-events: none;
  top: 120%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}
button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}
button:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
:root {
  --shadow-color: #ff9e9e;
  --shadow-color-light: #fff;
}
p {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Archivo Black", Archivo, sans-serif;
  font-weight: 400;
  display: block;
  height: auto;
  text-align: center;
}
.hello {
  color: #fff;
  animation: 3s infinite neon;
}
@keyframes neon {
  0%,
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light),
      0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color),
      0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color),
      0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light), 0 0 5px var(--shadow-color-light),
      0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color),
      0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color),
      0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
}
